.text-input {
    height: 3.18em;
    width: 100%;
 
}
.search-bar{
    padding: 5% 10%;
    /* background: hsl(220, 93%, 6%) url("/client/public/images/top_banner.jpg") no-repeat fixed 0 0 / cover ; */
    width: 100vw;
}

.search-selector{
    width: 100%;
    margin-top: -12px;
}

.search-label{
    padding-left: 10px;
}

